# .flake8
[flake8]
select = A,B,B9,BLK,C,E,F,I,N,S,W
ignore = E203,W503,E501
max-complexity = 12
max-line-length = 80
application-import-names = operationsgateway_api,test
import-order-style = google
enable-extensions=G
per-file-ignores =
  test/*: S101, S303
  operationsgateway_api/src/models.py: B902
# As recommended on https://github.com/tiangolo/fastapi/discussions/7463
extend-immutable-calls = Depends, fastapi.Depends, Query, fastapi.Query, Body, fastapi.Body, Cookie, fastapi.Cookie, Path, fastapi.Path, QueryParameterJSONParser
# As recommended on https://github.com/pydantic/pydantic/issues/568
classmethod-decorators = classmethod, validator, root_validator
