venv/
.idea/
*.pyc
*.log
*.log.*
config.yml*
!config.yml.example
*.png
.vscode/
.nox/
.python-version
.coverage
coverage.xml
util/ingest_hdf_dev.py
id_rsa
id_rsa.pub
logging.ini*
!logging.ini.example
util/realistic_data/data
util/realistic_data/resources
docs/site