# app section is optional for dev/production instances where these values are configured
# using the systemd unit file
app:
  host: 127.0.0.1
  port: 8000
  # API will auto-reload when changes on code files are detected
  reload: true
  url_prefix: ""
  maintenance_file: operationsgateway_api/maintenance.json.example
  scheduled_maintenance_file: operationsgateway_api/scheduled_maintenance.json.example
images:
  # Thumbnail sizes should only ever be two element lists, of a x, y resolution
  thumbnail_size: [50, 50]
  # Colour maps for Matplotlib can be used
  default_colour_map: viridis
  colourbar_height_pixels: 16
  preferred_colour_map_pref_name: PREFERRED_COLOUR_MAP
float_images:
  thumbnail_size: [50, 50]
  default_colour_map: bwr
  preferred_colour_map_pref_name: PREFERRED_FLOAT_COLOUR_MAP
waveforms:
  thumbnail_size: [100, 100]
  line_width: 0.3
vectors:
  thumbnail_size: [100, 100]
echo:
  url: https://s3.echo.stfc.ac.uk
  username: username
  access_key: access_key
  secret_key: secret_key
  bucket_name: test-bucket
  # The returned bytes from this number of the most recent requests to GET objects from Echo will be cached in memory
  # Higher values will result in greater memory usage, but may result in faster repeated requests for the same data
  # If set to 0, then the caching will be disabled
  cache_maxsize: 128
mongodb:
  mongodb_url: mongodb://localhost:27017
  database_name: opsgateway
  # Maximum number of documents to return when querying, similar to ICAT's maxEntities
  max_documents: 1000
auth:
  # Path to a private/public key pair for the auth functionality. This key pair should
  # be created before running the API, see instructions in README.md
  private_key_path: /home/user/og-auth/id_rsa
  public_key_path: /home/user/og-auth/id_rsa.pub
  jwt_algorithm: RS256
  access_token_validity_mins: 60
  refresh_token_validity_days: 7
  fedid_server_url: ldap://fed.cclrc.ac.uk:389
  fedid_server_ldap_realm: FED.CCLRC.AC.UK
  oidc_providers:
    keycloak:
      configuration_url: https://keycloak.example.com/realms/myrealm/.well-known/openid-configuration
      audience: operations-gateway  # also known as the client id
      verify_cert: true
      mechanism: oidc
      matching_claim: email
experiments:
  user_office_rest_api_url: https://devapi.facilities.rl.ac.uk/users-service/v1
  scheduler_wsdl_url: https://devapis.facilities.rl.ac.uk/ws/ScheduleWebService?wsdl
  # Credentials for user office/scheduler system
  username: username
  password: password
  # When no experiments are stored in the database, this is the start date to use when
  # contacting the Scheduler for the 'new experiments'. This setting is only used the
  # first time that experiments are being populated into the database
  first_scheduler_contact_start_date: 2019-01-02T00:00:00Z
  # Flag to enable/disable the background task to contact the Scheduler
  scheduler_background_task_enabled: false
  # Cron job string format. Every Monday at 9:00am - 0 9 * * 1
  scheduler_background_frequency: 0 9 * * 1
  # Timezones as per dateutil.tz. https://stackoverflow.com/a/15454186 provides a way of
  # listing available timezones
  scheduler_background_timezone: Europe/London
  # Number of minutes to wait before retrying if the background task of getting new
  # experiments from the Scheduler fails
  scheduler_background_retry_mins: 20
  instrument_names:
    - Gemini
  worker_file_path: /dev/shm/og-experiment-background
export:
  # 1048576 = 1 MB
  # 1073741824 = 1 GB
  max_filesize_bytes: 1073741824
observability:
  # used to view logs and traces in Elasticsearch run by Platforms & Services
  environment: dev
  secret_key: test
# [Optional] if the backup config settings are defined, then incoming data will be cached to local disk
# At a later date, these hdf5 files will then be copied to tape
# Once successful, the local copy will be removed
# backup:
#   cache_directory: /srv/og-api/cache
#   warning_mark_percent: 50
#   target_url: root://localhost:1094//path/to/directory/
#   copy_cron_string: "0 0 * * *"
#   timezone_str: Europe/London
#   worker_file_path: /dev/shm/og-backup
