app:
  host: 127.0.0.1
  port: 8000
  # API will auto-reload when changes on code files are detected
  reload: true
  image_thumbnail_size: [50, 50]
  waveform_thumbnail_size: [100, 100]
logging:
  log_level: DEBUG
  log_location: /var/log/operationsgateway-api.log
  # Enables/disables information about the origin of the log message
  log_message_location: true
mongodb:
  mongodb_url: mongodb://localhost:27017
  database_name: opsgateway-test
  collection_name: records
  # Maximum number of documents to return when querying, similar to ICAT's maxEntities
  max_documents: 1000
  image_store_directory: /home/user/og-images
auth:
  private_key_path: /home/user/og-auth/id_rsa
  public_key_path: /home/user/og-auth/id_rsa.pub
  jwt_algorithm: RS256
  access_token_validity_mins: 60
  refresh_token_validity_days: 7
  fedid_server_url: ldap://fed.cclrc.ac.uk:389
  fedid_server_ldap_realm: FED.CCLRC.AC.UK
