[loggers]
keys=root,uvicorn.access

[handlers]
keys=fileHandler,consoleHandler

[formatters]
keys=fileFormatter,consoleFormatter

[logger_root]
level=DEBUG
handlers=fileHandler,consoleHandler
qualname=root
propagate=0

[logger_uvicorn.access]
level=INFO
handlers=fileHandler,consoleHandler
qualname=uvicorn.access
propagate=0

[handler_fileHandler]
class=logging.handlers.TimedRotatingFileHandler
formatter=fileFormatter
args=('logs.log', 'D', 1, 20,)

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

[formatter_fileFormatter]
format=[%(asctime)s]  %(module)s:%(filename)s:%(funcName)s:%(lineno)d  %(levelname)s - %(message)s

[formatter_consoleFormatter]
class=uvicorn.logging.ColourizedFormatter
format={levelprefix}{message}
style={
