script_options:
  wipe_database: true
  delete_images: false
  launch_api: true
  ssh_connection_url: 127.0.0.1
database:
  hostname: localhost
  port: 27017
  name: opsgateway
  remote_experiments_file_path: /tmp/experiments_for_mongoimport.json
echo:
  endpoint_url: https://s3.echo.stfc.ac.uk
  access_key: access_key
  secret_key: secret_key
  simulated_data_bucket: og-realistic-data
  images_bucket: na-bucket
  page_size: 30
api:
  host: 127.0.0.1
  port: 8000
  username: backend
  password: back
  log_config_path: /home/user/operationsgateway-api/operationsgateway_api/logging.ini
  gunicorn_num_workers: 8
